header {
    min-height: 100px;
}

footer {
    background-image: linear-gradient(rgba(111, 9, 122, 0.7), rgba(111, 9, 122, 0.8));
}

li {
    a:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: #6F097A;
        scale: 1.05;

        @media screen and (width <= 992px) {
            transform-origin: right;            
        }
    }
}